<template>
    <div>
        <h1>This is the child component</h1>
        <hr>
        <div v-if="dataCopy">
            <div v-for="(item, index) in Object.keys(dataCopy)" :key="index">
                <label :for="item">{{ item }}: </label>
                <input type="text" :id="item" v-model="dataCopy[`${item}`]">
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            value: {
                required: true
            }
        },
        watch: {
            dataCopy(newValue) {
                this.$emit('input', newValue);
            }
        },
        mounted() {
            this.dataCopy = this.value;
        },
        data () {
            return {
                dataCopy: false
            }
        },
    }
</script>

<style scoped>

</style>
