<template>
    <div>
        <h1>This is the parent component</h1>
        <hr>
        <div v-for="(item, index) in Object.keys(data)" :key="index">
            <p>{{item}}: {{data[`${item}`]}}</p>
        </div>
        <Child v-model="data" />
    </div>
</template>

<script>
import Child from './Child'

export default {
    components: {
        Child
    },
    data() {
        return {
            data: {
                a: 'content of a',
                b: 'content of b',
                c: 'content of c'
            }
        }
    },
}
</script>

<style scoped>

</style>
